@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
        to right, 
        #d6f5f5,  /* Light aqua */
        #b3e6ff,  /* Light blue */
        #ffffff,  /* White */
        #e6ffe6   /* Light green */
    ); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}

