@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://airplhrd.com/core/member/Login-Page-Background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
    background-color: #f0f0f0;
}
