@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
        to right, 
        #d6f5f5, 
        #b3e6ff, 
        #ffffff,  
        #e6ffe6  
    ); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
}

